{% extends 'base.html.twig' %}

{% block title %}Partenaire index
{% endblock %}

{% block body %}
	<main>
		<h1>Partenaire index</h1>

		<table class="table container">
			<thead class="tableHead">
				<tr class="text-light">
					<th>Id</th>
					<th>NomStructure</th>
					<th>StatutJuridique</th>
					<th>NomResponsable</th>
					<th>PrenomResponsable</th>
					<th>NomContact</th>
					<th>PrenomContact</th>
					<th>StatutPartenaire</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for partenaire in partenaires %}
					<tr>
						<td>{{ partenaire.id }}</td>
						<td>{{ partenaire.nomStructure }}</td>
						<td>{{ partenaire.statutJuridique }}</td>
						<td>{{ partenaire.nomResponsable }}</td>
						<td>{{ partenaire.prenomResponsable }}</td>
						<td>{{ partenaire.nomContact }}</td>
						<td>{{ partenaire.prenomContact }}</td>
						<td>{{ partenaire.statutPartenaire }}</td>
						<td>
							<a href="{{ path('partenaire_show', {'id': partenaire.id}) }}"><i class="fas fa-eye"></i></a>
                            |
							<a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}"><i class="fas fa-edit"></i></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('partenaire_new') }}">Ajouter partenaire</a>
	</main>
{% endblock %}
