{% block stylesheets %}
	<link rel="stylesheet" href="/css/form_modif.css">
{% endblock %}
{{ form_start(form) }}
<section class="new-container">
	<div class="container-flex">

		{{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
		{{ form_row(form.prenom, {'attr': {'placeholder': 'Prenom'}}) }}
	</div>
	<div class="container-flex">

		{{ form_row(form.adresse, {'attr': {'placeholder': 'Adresse'}}) }}
		{{ form_row(form.securiteSociale, {'attr': {'placeholder': 'Sécurité social'}}) }}
	</div>
	<div class="container-flex">

		{{ form_row(form.telephone, {'attr': {'placeholder': 'Telephone'}}) }}
		{{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
		
	</div>
		<div class="container-flex">
	
		{{ form_row(form.isVerified) }}
		{{ form_row(form.birthday) }}
		{{ form_row(form.newsletter) }}
		{{ form_row(form.image) }}

	</div>
	

	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</section>
