<section class="new-container">
	{{ form_start(form) }}
	<div class="form-control text-center mx-3">
		{{ form_row(form.nom, {'label': 'Nom de l\'activité', 'attr': {'placeholder': 'Nom de l\'activité...'} }) }}
		{{ form_row(form.lieu, {'label': 'Lieu de l\'activité', 'attr': {'placeholder': 'Lieu de l\'activité...'} }) }}
        <div class="form-group container">
		{{ form_row(form.dateHeure, {'label': 'Date et Heure de l\'activité' }) }}
        </div>
	</div>
	<div class="form-control text-center mx-3"></div>
	{{ form_end(form) }}
</section>
<button class="btn btn-primary m-1">
	{{ button_label|default('Save') }}
</button>
