{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>Liste des activités</h1>

		<table class="table container">
			<thead class="tableHead">
				<tr class="text-light">
					<th>Nom</th>
					<th>Date</th>
					<th>Lieu</th>
					<th>Animateur</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for activite in activites %}
					<tr>
						<td>{{ activite.nom }}</td>
						<td>{{ activite.dateHeure ? activite.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ activite.lieu }}</td>
						<td>{{ activite.animateur }}</td>
						<td>
							<a href="{{ path('activite_show', {'id': activite.id}) }}">
								<i class="far fa-eye"></i>
							</a>
							|
							<a href="{{ path('activite_edit', {'id': activite.id}) }}">
								<i class="fas fa-edit"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-primary" href="{{ path('activite_new') }}">Create new</a>
	</main>
{% endblock %}
